.App {
    text-align: center;
  }
  
  .App-bg {
    background-color: #282c34;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
/**********************************
filter.js styles
**********************************/
  .controls-radio {
    display: flex;
  }
  
  .radio-btn {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .filter-title, .filter-options {
    color: #ffff;
  }


/**********************************
profile.js styles
**********************************/
.profile-text {
  margin: 0px;
}
.pills-link {
  padding-top: 0rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3rem;
}